@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

* {
    margin: auto;
}

body {
    display: block;
    background: linear-gradient(90deg, rgba(104,255,194,1) 0%, rgba(255,255,255,1) 44%, rgba(26,255,205,1) 100%);
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: linear-gradient(to right, #fc5c7d, #6a82fb);*/
}

.heading {
    color: #68ffc2;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    box-shadow: 0 0 0 0 rgb(42, 42, 42) inset;
}

.heading:hover {
    box-shadow: 500px 0 0 0 rgb(42, 42, 42) inset;
}

.body {
    width: 100%;
    height: 75vh;
    /*background-image: linear-gradient(to right, #fc5c7d, #6a82fb);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.mintback {
    width: 60vh;
    height: 65vh;
    border-radius: 25px;
    background-color: #68ffc2;
    box-shadow: 0 0 0 0 rgb(42, 42, 42) inset;
}

.mintback:hover {
    box-shadow: 450px 0 0 0 rgb(42, 42, 42) inset;
}

#spooky {
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

footer {
    width: 100%; 
    height: 10vh;
    /*background-image: linear-gradient(to right, #fc5c7d, #6a82fb);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:
}

.foot {
    color: #68ffc2;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.foot:hover {
    box-shadow: 400px 0 0 0 rgb(42, 42, 42) inset;
}

a {
    color: #68ffc2;
    text-decoration: none;
}