@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

* {
    margin: auto;
}

body {
    display: block;
    background: #999c67;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #dedede;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.6rem;
    box-shadow: 0 0 0 0 rgb(42, 42, 42) inset;
}

.heading:hover {
    box-shadow: 500px 0 0 0 rgb(42, 42, 42) inset;
}

.body {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mintback {
    width: 55vh;
    height: 65vh;
    border-radius: 25px;
    background-color: #dedede;
    box-shadow: 0 0 0 0 rgb(42, 42, 42) inset;
    padding-left: 2vh;
    padding-right: 2vh;
}

.mintback:hover {
    box-shadow: 1000 0 0 0 rgb(42, 42, 42) inset;
}

#spooky {
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

#rampp-minting-button-042a7dff-ef67-4da7-8d62-d25619f0f4a6 {
    width: 10vh;
    height: 7vh;
}

footer {
    width: 100%; 
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}